* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #f3f8ff;
    color: #003366;
}

header {
    background: #0055cc;
    color: white;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    font-size: 26px;
    font-weight: bold;
}

header .logo span {
    color: #a7d3ff;
}

nav a {
    color: white;
    margin-left: 20px;
    font-weight: 500;
    text-decoration: none;
}

nav a:hover {
    color: #a7d3ff;
}

.hero {
    text-align: center;
    padding: 80px 20px;
    background: linear-gradient(#0055cc, #003f99);
    color: white;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

.hero button {
    margin-top: 20px;
    padding: 12px 25px;
    background: #a7d3ff;
    border: none;
    border-radius: 5px;
    color: #003366;
    font-size: 18px;
    cursor: pointer;
}
.hero button:hover {
    background: white;
}

.products {
    padding: 50px;
    text-align: center;
}

.products h2 {
    font-size: 32px;
    margin-bottom: 30px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
}

.product-card {
    background: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 4px 12px rgba(0, 0, 50, 0.1);
    transition: 0.3s ease;
}

.product-card:hover {
    transform: translateY(-8px);
}

.product-card img {
    width: 100%;
    border-radius: 10px;
}

.product-card h3 {
    margin-top: 15px;
    font-size: 20px;
}

.product-card p {
    font-size: 18px;
    margin: 10px 0;
}

.product-card button {
    background: #0055cc;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.product-card button:hover {
    background: #003f99;
}

footer {
    margin-top: 212px;
    background: #0055cc;
    color: white;
    text-align: center;
    padding: 50px;
}

.about-section, .contact-section {
    padding: 50px;
    max-width: 900px;
    margin: auto;
}

.about-section h2, .contact-section h2 {
    font-size: 32px;
    text-align: center;
    margin-bottom: 20px;
}

.about-container p {
    font-size: 18px;
    margin-bottom: 20px;
    line-height: 1.7;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,50,0.1);
}

.contact-form input,
.contact-form textarea {
    padding: 12px;
    border: 1px solid #ccdfff;
    border-radius: 5px;
    font-size: 16px;
}

.contact-form button {
    background: #0055cc;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}
.contact-form button:hover {
    background: #003f99;
}